*.jsonl.gz
DPR/data/*
DPR/runs/*
trec-tot-2025-corpus.jsonl.gz
*no_commit*

stats.json
run_anserini_dev1.txt
run_anserini_dev2.txt
run_anserini_dev3.txt
run_pyterrier_dev1.txt
run_pyterrier_dev2.txt
run_pyterrier_dev3.txt
run_retrieval_dev1.txt
run_retrieval_dev2.txt
run_retrieval_dev3.txt
run_anserini_train.txt
run_pyterrier_train.txt
run_retrieval_train.txt
data/tot25/subsets/eval20/*.jsonl.gz
data/tot25/subsets/train80/*.jsonl.gz
dense_retrieval/lir_data/eval20/eval250k-corpus-lir.jsonl
dense_retrieval/lir_data/train80/train100k-corpus-lir.jsonl
bm25/bm25_anserini_output/indexes
bm25/bm25_anserini_output/jsonl
dense_retrieval/lir_data
pyterrier_bm25/pyterrier_bm25_output
# (optional) Logs & temporary files
logs/
.vscode
/DPR/*.ipynb

.venv/
