trec-tot-2025-corpus.jsonl.gz

stats.json
run_anserini_dev1.txt
run_anserini_dev2.txt
run_anserini_dev3.txt
run_pyterrier_dev1.txt
run_pyterrier_dev2.txt
run_pyterrier_dev3.txt
run_retrieval_dev1.txt
run_retrieval_dev2.txt
run_retrieval_dev3.txt
run_anserini_train.txt
run_pyterrier_train.txt
run_retrieval_train.txt
data/tot25/subsets/*.jsonl.gz
# (optional) Logs & temporary files
logs/
